<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="correo_electronico" value="nominas@liceojavier.edu.gt" />
    <add key="wsCliente" value="sabin" />
    <add key="wsPass" value="Amat3rasus20$$" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--<add name="conexion" connectionString="Data Source=192.168.10.82;Initial Catalog=javier;User ID=sa;Password=Narusegawa1" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="Data Source=PEPE;Initial Catalog=javier;User ID=sa;Password=Ch1h1r0$25" providerName="System.Data.SqlClient" />-->
    <add name="conexion" connectionString="Data Source=ORIE;Initial Catalog=javier;User ID=siaco;Password=*Naviki17%Akane16*" providerName="System.Data.SqlClient" />
    <add name="academiaConnectionString" connectionString="Data Source=ORIE;Initial Catalog=academia;Persist Security Info=True;User ID=sa;Password=%Nausicca%2006*" providerName="System.Data.SqlClient" />
    <add name="sociogramaConnectionString" connectionString="Data Source=ORIE;Initial Catalog=sociograma;Persist Security Info=True;User ID=siaco;Password=*Naviki17%Akane16*" providerName="System.Data.SqlClient" />
    <add name="academiaEntities" connectionString="metadata=res://*/data.ModelJavier.csdl|res://*/data.ModelJavier.ssdl|res://*/data.ModelJavier.msl;provider=System.Data.SqlClient;provider connection string=&quot;
	Data Source=ORIE;Initial Catalog=academia;Persist Security Info=True;User ID=sa;Password=%Nausicca%2006*;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="javierEntities" connectionString="metadata=res://*/modelo.ModelDB.csdl|res://*/modelo.ModelDB.ssdl|res://*/modelo.ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=orie;
	initial catalog=javier;User ID=siaco;Password=*Naviki17%Akane16*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	
		</connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- En esta sección se define la configuración del registro para My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsMoodleSoap">
          <security mode="Transport" />
        </binding>
        <binding name="wsMoodleSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://sistema.liceojavier.edu.gt/servicios/wsMoodle.asmx" binding="basicHttpBinding" bindingConfiguration="wsMoodleSoap" contract="soapMoodle.wsMoodleSoap" name="wsMoodleSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.2.0" newVersion="2.7.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.10.0" newVersion="1.0.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>